.title {
    margin: 50px;
    font-family: cursive;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid silver;
    padding: 5px;
    text-align: center;
    box-shadow: 8px 8px silver
}

.container {
    display: flex;
}

#letters_div {
    flex-flow: wrap;
    display: flex;
}

.letter_div {
    margin: 5px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 5px;
    box-shadow: 3px 3px #73AD21;
}

.letter_div:hover {
    background-color: silver;
    cursor: pointer;
}

.selected {
    background-color: gray;
    color: whitesmoke;
    pointer-events: none;
}

.buttons div {
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 5px;
    box-shadow: 3px 3px #73AD21;
}

.buttons div:hover {
    background-color: silver;
    cursor: pointer;
}

.buttons {
    display: flex;
}

#question_letters_div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.question_letter_div {
    margin: 3px;
    font-size: 40px;
    height: 30px;
    width: 50px;
    text-align: center;
    text-decoration: underline;
}

.left {
    width: 60%;
    max-width: 650px;
    margin: 20px 50px 50px 50px;
}

.scoreBoard {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px silver;
    display: flex;
    box-shadow: 3px 3px gray;

}

.scoreBoard div {
    display: flex;
    margin: 5px 10px 5px 10px;
}

.scoreBoard .name {
    font-size: 20px;
    font-weight: bold;
}

.scoreBoard .score {
    font-size: 20px;
}