.name {
    margin: 50px;
    font-family: cursive;
    font-size: 25px;
}

#letters_div {
    margin: 50px;
    flex-flow: wrap;
    display: flex;
    max-width: 400px;
}

.letter_div {
    border: solid black 1px;
    margin: 3px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    /* font-family: cursive; */
}

.selected{
    background-color: gray;
    color: whitesmoke;
    pointer-events: none;
}
.buttons div{
    border: solid indigo;
}
.buttons{
    display: flex;
}


#question_letters_div {
    margin: 50px;
    display: flex;
    max-width: 400px;
}

.question_letter_div {
    margin: 3px;
    font-size: 40px;
    height: 30px;
    width: 35px;
    text-align: center;
    text-decoration: underline;
    /* font-family: cursive; */
}